<h4>Editing {{bookmark.bookmark.title}}</h4>

<form class="edit-form" role="form">
  <div class="form-group">
    <label>Bookmark Title</label>
    <input type="text" class="form-control" ng-model="bookmark.bookmark.title" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label>Bookmark URL</label>
    <input type="text" class="form-control" ng-model="bookmark.bookmark.url" placeholder="Enter URL">
  </div>
  <button type="submit" class="btn btn-info btn-lg">Save</button>
  <button type="button" class="btn btn-default btn-lg pull-right" ng-click="bookmark.cancelEditing()">Cancel</button>
</form>
